[![imagenes](imagenes/pythonista.png)](https://pythonista.io)

# Objetos tipo ```list``` y ```tuple```.

Los objetos tipo ```tuple``` y ```list``` son:

* **Colecciones**. Es decir, que pueden contener objetos, también llamados elementos.
* **Ordenadas**. Es decir, que respetan el orden en el que cada elemento es ingresado.
* **Indexables numéricamente**. Es decir, que cada elemento que contienen puede ser accedido mediante un índice numéricos.

La diferencia entre estos tipos de datos es que los objetos de tipo ```list``` son mutables y los objetos de tipo ```tuple``` son inmutables.

## Objetos tipo ```list```.

Los objetos tipo ```list``` son colecciones ordenadas de objetos, sin importar el tipo de cada uno, los cuales son indexables numéricamente y son mutables.

Se definen encerrando entre corchetes ```[``` ```]``` una sucesión de objetos separados por comas ```,```.

La sintaxis es la siguiente:

```
[<objeto 1>, <objeto 2>, ..., <objeto n>] 
```

Cabe hacer notar que los objetos de tipo ```list``` no son equivalentes a las matrices en otros lenguajes de programación.

**Ejemplos:**

* Las siguientes celdas ilustran ejemplos de objetos de tipo ```list```.

In [ ]:
[1, 2, 3, 4, 5]

In [ ]:
['gato', 'perro', True]

In [ ]:
[['automóvil', 50, 'gasolina'], ['autobús', 300, 'diesel']]

In [ ]:
[]

## La función ```list()```.

Esta función tranforma a una colección, un iterador o un generador en un objeto de tipo ```list```.

```
list(<objeto>)
```

Donde:

* ```<objeto>``` puede ser una colección, un generador, o un iterador.

**Ejemplos:**

* Las siguientes celdas ejecutarán la función ```list()```, ingresando diversos tipos de colecciones como argumento.

In [ ]:
list("Hola")

In [ ]:
list(b"Hola")

In [ ]:
list({1, 2, 3, 1., 8, 1.0, True})

* En el caso de los objetos de tipo ```dict()```, el objeto ```list``` resultante se obtiene a partir de las claves.

In [ ]:
list({"Nombre": "Juan", "Primer apellido": "Pérez", "Segundo apellido": "López"})

## Modificación de un elemento de un objeto tipo ```list```.

Es posible modificar el contenido de un elemento en un objeto de tipo ```list``` mediante el operador de asignación ```=```. 

```
<objeto list>[<índice>] = <valores>
```

Donde:

* ```<objeto list>``` es un objeto de tipo ```list```.
* ```<índice>``` es un objeto de tipo ```int``` correspondiente al índice del elemento a modificar.
* ```<valores>``` es el valor con el que sustituirá al elmento en cuestión. En caso de que se ingrese una sucesión de valores separados por comas, éstos serán encapsulados dentro de un objeto de tipo ```tuple```.

**Ejemplos:**

* La siguiente celda definirá al objeto ```[1, 2, 3, 4, 5, 6, 7, 8]``` al que se le asignará el nombre ```lista```.

In [ ]:
lista = [1, 2, 3, 4, 5, 6, 7, 8]

* La siguiente celda sustituirá al elemento ```lista[4]``` por el objeto ```"hola"```.

In [ ]:
lista[4] = "hola"

* Ahora el objeto ```lista``` es ```[1, 2, 3, 4, 'hola', 6, 7, 8]```.

In [ ]:
lista

* La siguiente celda sustituirá al elemento ```lista[-3]``` usando la sucesión ```True, 2, 5```. Dicha suceción será consuderada como un objeto de tipo ```tuple``` igual a ```(True, 2, 5)```.

In [ ]:
lista[-3] = True, 2, 5

* Ahora el objeto ```lista``` es ```[1, 2, 3, 4, 'hola', (True, 2, 5), 7, 8]```.

In [ ]:
lista

### Eliminación de un elemento en un objeto tipo ```list```.

Para eliminar un elemento en un objeto de tipo ```list``` se utiliza la declaración ````del````. El elemento identificado mediante su posición será eliminado y en caso de que existan, se recorrerá el índice de los elementos a la derecha del elemento eliminado. 

La sintaxis es la siguiente:

```
del <objeto list>[<índice>]
```

* ```<objeto list>``` es un objeto de tipo ```list```.
* ```<índice>``` es un objeto de tipo ```int``` correspondiente al índice del elemento a eliminar.

**Ejemplos:**

* La siguiente celda definirá al objeto ```[1, 2, 3, 4, 5]``` al que se le asignará el nombre ```lista```.

In [ ]:
lista = [1, 2, 3, 4, 5]

* El elemento ```lista[1]``` es el objeto ```2```.

In [ ]:
lista[1]

* Se eliminará al elemento ```lista[1]```.

In [ ]:
del lista[1]

* Ahora el objeto ```lista``` es ```[1, 3, 4, 5]```.

In [ ]:
lista

* Ahora el elemento ```lista[1]``` es ```3```.

In [ ]:
lista[1]

### Eliminación de un rango de elementos en objetos tipo ```list```.

Es posible eliminar un rango de elementos de un objeto tipo ```list``` utilizando la declaración ```del``` con la siguiente sintaxis.

```
del <objeto list>[m:n:i]
```

En donde: 

* ```<objeto list>``` es un objeto de tipo ```list```.
* ```m``` es el índice inicial del rango.
* ```n``` es el índice final del rango.
* ```i``` es la magnitud de incrementos o decrementos del rango.

**Ejemplos:**

* La siguiente celda definirá al objeto de tipo ```list``` igual a ```[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]``` con nombre ```lista```.

In [ ]:
lista = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

* La siguiente celda eliminará a los elementos en el rango ```lista[-3:-1]```.

In [ ]:
del lista[-3:-1]

* Ahora el objeto ```lista``` es igual a ```[1, 2, 3, 4, 5, 6, 7, 10]```.

In [ ]:
lista

* La siguiente celda eliminará a los elementos en el rango ```lista[2::2]```. Es de decir, los elementos con los índices ```lista[2]```, ```lista[4]``` y ```lista[6]```.

In [ ]:
del lista[2::2]

* Ahora el objeto ```lista``` es igual a ```[1, 2, 4, 6, 10]```.

In [ ]:
lista

### Sustitución de objetos en un rango de elementos en objetos tipo ```list ```.

Es posible sustituir uno o varios objetos definido en un rango de índices dentro de un objeto tipo ```list``` usando la siguiente sintaxis:

```
<objeto tipo list>[m:n:i] = <objeto 1>, <objeto 2>, ..., <objeto m-n>
```

En donde: 

* ```m``` es el índice inicial del rango.
* ```n``` es el índice final del rango.
* ```i``` es la magnitud de los incrementos o decrementos del rango.



#### Particularidades.

* Si el número de objetos a sustituir es menor que el rango definido, los objetos que no cuenten con un sustituto serán eliminados.
* Si el numero de objetos a sustituir es mayor que el rango definido, los objetos adicionales se insertarán y desplazarán al resto a la derecha.

**Ejemplos:**

* La siguiente celda definirá al objeto tipo ```list``` igual a ```[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]``` con nombre ```lista```.

In [ ]:
lista = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

* La siguiente celda sustituirá a cada elemento en el rango ```lista[2:5]```  con los valores sucesivos de ```"tres", "cuatro", "cinco"```, lo que sería similar a realizar las siguientes operaciones:
   * ```lista[2] = "tres"```.
   * ```lista[3] = "cuatro"```.
   * ```lista[4] = "cinco"```.

In [ ]:
lista[2:5] = "tres", "cuatro", "cinco"

* Ahora el objeto ```lista``` es ```[1, 2, 'tres', 'cuatro', 'cinco', 6, 7, 8, 9, 10]```.

In [ ]:
lista

* La siguiente celda sustituirá a cada elemento en el rango ```lista[6:4:-1]``` con los valores sucesivos ```"7", "seis"```, lo que sería similar a realizar las siguientes operaciones:
   * ```lista[6] = "7"```.
   * ```lista[5] = "seis"```.

In [ ]:
lista[6:4:-1]= "7", "seis"

* Ahora el objeto ```lista``` es ```[1, 2, 'tres', 'cuatro', 'cinco', 'seis', '7', 8, 9, 10]```.

In [ ]:
lista

* La siguiente celda sustituirá a cada elemento en el rango ```lista[5:6]``` con la sucesión de objetos ```6.0, "siete", "ocho", "nueve", "diez"```. Debido a que la sucesión de objetos es mayor a los índices afectados, los objetos restantes se insertarán como elementos nuevos y desplazarán a los elementos originales a la derecha.

In [ ]:
lista[5:6] = 6.0, "siete", "ocho", "nueve", "diez"

* Ahora el objeto ```lista``` es ```[1, 2, 'tres', 'cuatro', 'cinco', 6.0, 'siete', 'ocho', 'nueve', 'diez', '7', 8, 9, 10]```.

In [ ]:
lista

* La siguiente celda sustituirá a cada elemento en el rango ```lista[10:]``` con la sucesión de objetos ```"11", "12"```. Debido a que la sucesión de objetos es menor a los índices afectados, los objetos que no sean sustituidos serán eliminados.

In [ ]:
lista[10:] = "11", "12"

* Ahora el objeto ```lista``` es ```[1, 2, 'tres', 'cuatro', 'cinco', 6.0, 'siete', 'ocho', 'nueve', 'diez', '11', '12']```.

In [ ]:
lista

### Métodos de los objetos tipo ```list```.

### El método ```append()```.

Este método inserta al final del objeto tipo ```list``` el  objeto que se ingresa como argumento.

```
<objeto tipo list>.append(<objeto>)
```

Donde:

* ```<objeto>``` es un objeto que se añadirá como  el último elemento de ```<objeto tipo list>```.

**Ejemplo:**

* Se definirá al objeto ```[1, 2, 3, 4, 5, 6]``` con nombre ```lista```.

In [ ]:
lista = [1, 2, 3, 4, 5, 6]

In [ ]:
lista.append("siete")

In [ ]:
lista

### El método ```insert()```.
Este elemento inserta en el objeto tipo ```list``` a un objeto en el índice indicado. Los elementos localizados a partir de dicho índice y hasta el final del objeto son recorridos a la derecha.

```
<objeto tipo list>.insert(<índice>, <objeto>)
```

Donde:

* ```<índice>``` es el índice en el que se insertará ```<objeto>```.
* ```<objeto>``` es el objeto a insertar.

**Ejemplo:**

* Se definirá al objeto ```[1, 2, 3, 4, 5, 6]``` con nombre ```lista```.

In [ ]:
lista = [1, 2, 3, 4, 5, 6]

In [ ]:
lista.insert(3, True)

In [ ]:
lista

### El método ```remove()```.

Este método busca de izquierda a derecha el objeto ingresado como argumento y elimina al primer elemento que coincida.

Si el objeto no es encontrado, genera un error de tipo ```ValueError```.

```
<objeto tipo list>.remove(<objeto>)
```

Donde:

* ```<objeto>``` es el objeto a eliminar.

**Ejemplos:**

* Se definirá al objeto ```[1, 2, 3, 4, 5, 4, 3, 2, 1, 0]``` con nombre ```lista```.

In [ ]:
lista = [1, 2, 3, 4, 5, 4, 3, 2, 1, 0]

In [ ]:
lista.remove(3)

In [ ]:
lista

In [ ]:
lista.remove(5)

In [ ]:
lista

In [ ]:
lista.remove(5)

### El método ```reverse()```.

Este método invierte el orden de los elementos del objeto tipo ```list```.

```
<objeto tipo list>.reverse()
```

**Ejemplo:**

In [ ]:
lista = [1, 2, 3, 4, 5, 6]

In [ ]:
lista.reverse()

In [ ]:
lista

### El método ```sort()```.

Este método ordena, cuando es posible, los elementos que contiene. 

```
<objeto tipo list>.sort(reverse=<booleano>)
```

* Si se especifica el argumento ```reverse=True``` el ordenamiento se hace de forma descendente. 
* El valor por defecto es ```reverse=False```, por lo que el orden por defecto es ascendente.
* En caso de que los elementos no sean compatibles, se desencadenará un error de tipo ```TypeError```.

**Ejemplos:**

In [ ]:
lista = [15, True, 33, False, 12.35]

In [ ]:
lista.sort()

In [ ]:
lista

In [ ]:
lista.sort(reverse=True)

In [ ]:
lista

### El método  ```pop()```.

Este método regresa y elimina al elemento correspondiente al índice que se ingresa como argumento.

```
<objeto tipo list>.pop(<índice>)
```

Donde:

* ```<índice>``` es el indice donde se encuentra el elemento a extraer. En caso de que no se ingrese ```<índice>```, el método regresará y eliminará al último elemento del del objeto tipo ```list```.

En caso de que el objeto tipo  ```list```esté vacío, se generará un error de tipo ```IndexError```.

**Ejemplos:**

* La siguiente celda definirá al objeto ```[15, True, 33, False, 12]``` al que se le asignará el nombre  ```lista```.

In [ ]:
lista = [15, True, 33, False, 12]

* La siguiente celda utilizará al método ```pop()```, el cual regresará y eliminará al último elemento del objeto ```lista``` el cual es el objeto ```12```.

In [ ]:
lista.pop()

* Ahora el objeto ```lista``` es ```[15, True, 33, False]```.

In [ ]:
lista

* La siguiente celda utilizará al método ```pop()```, el cual regresará y eliminará al elemento con índice ```lista[1]``` el cual es el objeto ```True```.

In [ ]:
lista.pop(1)

* Ahora el objeto ```lista``` es ```[15, 33, False]```.

In [ ]:
lista

* La siguiente celda utilizará al método ```pop()```, el cual regresará y eliminará al elemento con índice ```lista[2]``` el cual es el objeto ```False```.

In [ ]:
lista.pop(2)

* Ahora el objeto ```lista``` es ```[15, 33]```.

In [ ]:
lista

* La siguiente celda utilizará al método ```pop()```, el cual regresará y eliminará al último elemento del objeto ```lista``` el cual es el objeto ```33```.

In [ ]:
lista.pop()

* Ahora el objeto ```lista``` es ```[15]```.

In [ ]:
lista

* La siguiente celda utilizará al método ```pop()```, el cual regresará y eliminará al último elemento del objeto ```lista``` el cual es el objeto ```15```.

In [ ]:
lista.pop()

* Ahora el objeto ```lista``` es ```[]```.

In [ ]:
lista

* La siguiente celda intentará utilizará al método ```pop()``` en el objeto ```lista```, el cual es un objeto de tipo ```list``` vacío. Esto desencadenará un error de tipo ```IndexError```.

In [ ]:
lista.pop()

###  El método ```extend()```.

Ese métodos inserta al final del objeto tipo ```list``` cada uno de los elementos de una colección que es ingresada como argumento.

```
<objeto tipo list>.extend(<colección>)
```

**Ejemplos:**

In [ ]:
lista = [1, 2, 3]

In [ ]:
lista.extend(('cuatro', 'cinco'))

In [ ]:
lista

In [ ]:
lista.extend({'seis', 'siete', 'ocho', 8})

In [ ]:
lista

* A diferencia del método ```extend()```, el método ```append()``` añadirá a la colección ingresada como un solo elemento.

In [ ]:
lista.append([True, False, None])

In [ ]:
lista

### El método ```clear()```.

Este método elimina a todos los elementos del objeto tipo ```list```.

```
<objeto tipo list>.clear()
```

**Ejemplo:**

In [ ]:
lista = [93, True, 27, True, True, 16, 45, 14, False, True]

In [ ]:
lista.clear()

In [ ]:
lista

### El método ```count()```.

Este método cuenta el número de veces que aparece dentro del objeto tipo ```list``` el objeto que se ingresa como argumento.

```
<objeto tipo list>.count(<objeto>)
```

**Ejemplos:**

In [ ]:
lista = [1, 2, 3, 4, 5, 4, 3, 2, 1, 0]

In [ ]:
lista.count(2)

In [ ]:
lista.count(5)

In [ ]:
lista.count(11)

### El método ```index()```.

Busca de izquierda a derecha un objeto dentro de un objeto de tipo ```list``` comprendido en un rango específico y en caso de encontrarlo, regresa el índice en el que se encuentre.

```
<objeto tipo list>.index(<objeto>, m, n)
```

Donde:

* ```m``` es el índice menor.
* ```n``` es el índice mayor.

* La búsqueda se realizará desde el índice ```m``` hasta uno antes de ```n```.
* El valor de ```n```puede ser superior al del tamaño del objeto tipo ```list```.
* Si sólo se ingresa ```m```, la búsqueda se realizará desde el íncide ```m``` hasta el final del objeto tipo ```list```.
* En caso de no definir un rango, la búsqueda se realizará en el objeto completo.
* En caso de no encontrar una coincidencia en el rango detrerminado, se generará un error tipo ```ValueError```. 

**Ejemplos:**

In [ ]:
lista = [93, True, 27, True, True, 16, 45, 14, False, True]

In [ ]:
lista.index(True)

In [ ]:
lista.index(True, 8)

In [ ]:
lista.index(True, 6, 9)

In [ ]:
lista.index(True, 6, 25)

### El método ```copy```.

**Ejemplo:**

In [ ]:
lista = [1, 2, 3, 4]

In [ ]:
otra_lista = lista.copy()

In [ ]:
otra_lista

In [ ]:
lista == otra_lista

In [ ]:
lista is otra_lista

## Objetos tipo ```tuple```.

Los objetos tipo ```tuple``` son colecciones ordenadas de objetos, sin importar el tipo de cada uno, los cuales son indexables numéricamente y son inmutables.

Se definen encerrando entre paréntesis ```(``` ```)``` una sucesión de objetos separados por comas ```,```.

La sintaxis es la siguiente:

```
(<objeto_1>, <objeto_2>, ..., <objeto_n>)
```

**Ejemplos:**

In [ ]:
(1, 2, 3, 4, 5)

In [ ]:
('gato', 'perro', True)

In [ ]:
(['automóvil', 50, 'gasolina'], ('autobús', 300, 'diesel'))

In [ ]:
()

## La función ```tuple()```.

Esta función tranforma a una colección, un iterador o un generador en un objeto de tipo ```tuple```.

```
tuple(<objeto>)
```

Donde:

* ```<objeto>``` puede ser una colección, un generador, o un iterador.

**Ejemplos:**

* Las siguientes celdas ejecutarán la función ```tuple()```, ingresando diversos objetos como argumento.

In [ ]:
tuple("Hola")

In [ ]:
tuple(b"Hola")

In [ ]:
tuple({"Nombre": "Juan", "Primer apellido": "Pérez", "Segundo apellido": "López"})

In [ ]:
tuple({1, 2, 3, 1., 8, 1.0, True})

### Inmutabilidad de los objetos de tipo ```tuple```.

Los elementos de los objetos de tipo ```tuple``` no pueden ser eliminados o sustituidos. En caso de intentar realizar dichas operaciones, se generaría un error de tipo ```TypeError```.

**Ejemplos:**

In [ ]:
vehiculos = (['automóvil', 50, 'gasolina'], ('autobús', 300, 'diesel'))

In [ ]:
vehiculos[1] = True

In [ ]:
del vehiculos[1]

### Métodos de los objetos de tipo ```tuple```.

Los objetos tipo _tuple_ sólo cuentan con los métodos: 

* ```count()```. 
* ```index()```.

**Ejemplos:**

In [ ]:
tupla = (1, 5, 7, 8, 4, 7, 7, 9)

In [ ]:
tupla.index(9)

In [ ]:
tupla.count(7)

In [ ]:
tupla.clear()

In [ ]:
vehiculos

In [ ]:
vehiculos[0][2] = 'carbón'

In [ ]:
vehiculos

## "Aliasing". 

Al "rebanar" un objeto, se crea una nueva colección que hace referencia a los elementos existentes en el objeto original.

Esto significa que aún cuando el objeto resultante del "rebanado" es nuevo, los elementos que comparten el objeto original y el objeto "rebanado", son exactamente los mismos.

**Ejemplo:**

In [ ]:
lista_1 = [12, True, "lapicero"]

In [ ]:
lista_2 = lista_1[:]

In [ ]:
lista_1 == lista_2

In [ ]:
lista_1 is lista_2

In [ ]:
for elemento in lista_1: 
    print(id(elemento))

In [ ]:
for elemento in lista_2: 
    print(id(elemento))

### Aliasing  con elementos mutables.

El aliasing puede tener efectos indeseados cuando una colección contiene objetos mutables.

**Ejemplo:**

* La siguiente celda definirá al objeto de tipo ```list```llamado ```lista_1```, cuyo elemento con índice ```2``` también es de tipo ```list```.

In [ ]:
lista_1 = [1, 2, ['b', 'c']]

In [ ]:
lista_1[2]

In [ ]:
id(lista_1[2])

* La siguiente celda, le asignará el nombre ```lista_2``` al elemento ```lista_1[2]```.

In [ ]:
lista_2 = lista_1[2]

In [ ]:
lista_2

In [ ]:
id(lista_2)

* La siguiente celda creará un objeto de tipo ```tuple``` con nombre ```tupla``` a partir de un rebanado completo del objeto ```lista_1```.

In [ ]:
tupla = tuple(lista_1[:])

In [ ]:
tupla

* Tanto ```lista_1[2]```, ```lista_2``` como ```tupla[2]``` son el mismo objeto.

In [ ]:
lista_1[2] is lista_2

In [ ]:
lista_1[2] is tupla[2]

In [ ]:
tupla[2] is lista_2

In [ ]:
tupla[2]

* Al modificar el contenido de un elemento mutable que es compartido por todos los objetos; dicho cambio se aplicará uniformemente en todos los objetos que lo contienen.

In [ ]:
del lista_2[:]

In [ ]:
lista_2

In [ ]:
lista_1

In [ ]:
tupla

<p style="text-align: center"><a rel="license" href="http://creativecommons.org/licenses/by/4.0/"><img alt="Licencia Creative Commons" style="border-width:0" src="https://i.creativecommons.org/l/by/4.0/80x15.png" /></a><br />Esta obra está bajo una <a rel="license" href="http://creativecommons.org/licenses/by/4.0/">Licencia Creative Commons Atribución 4.0 Internacional</a>.</p>
<p style="text-align: center">&copy; José Luis Chiquete Valdivieso. 2020.</p>